@using BM.Model
@model Category

<h2>Edit Category</h2>
<form method="post" class="form-control">
    <input hidden value="@Model.Id" name="Id" id="Id" />
    <input type="text" class="form-control form-control-lg" value="@Model.Name"
           name="Name" id="Name" placeholder="Input Student Name">
    <input type="text" class="form-control form-control-lg" value="@Model.UrlSlug" name="UrlSlug" id="UrlSlug"
           placeholder="Input Category Url">
    <input type="text" class="form-control form-control-lg" value="@Model.Description" name="Description" id="Description"
           placeholder="Input Category Description">
    <button type="submit" class="btn btn-primary">Update</button>
</form>
