@using BM.Model

<h2>Create Tag</h2>

<form method="post" class="form-control">
    <input hidden name="Id" id="Id">
    <input type="text" class="form-control form-control-lg" name="Name" id="Name"
           placeholder="Input Tag Name">
    <input type="text" class="form-control form-control-lg" name="UrlSlug" id="UrlSlug"
           placeholder="Input Tag Url">
    <input type="text" class="form-control form-control-lg" name="Description" id="Description"
           placeholder="Input Tag Description">
    <input type="text" class="form-control form-control-lg" name="Count" id="Count"
           placeholder="Input Tag Count">
    <button type="submit" class="btn btn-primary">Create</button>
</form>
